//FEATURE AVAILABLE ONLY IN FIREFOX
doctype html
html
    head
        meta(charset="utf-8")
        title device light

        link(rel="stylesheet", href="../css/main.css")

    body
        div(id="visual")
            p(id="debug")
            
            iframe(id="youtubeplayer",
                class="youtubeplayer",
                type="text/html",
                width="720",
                height="405",
                src="",
                frameborder="0",
                allowfullscreen)








        script(src="../js/app.main.js")